<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".aplication.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTimViecLam"
        tools:targetApi="31">
      
        <activity android:name=".activities.AppliedJobsActivity"
            android:exported="false"/>
        <activity android:name=".activities.UpdatePasswordActivity"
            android:exported="true"/>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".activities.JobDetailActivity"
            android:exported="true"/>
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="true"/>
        <activity
            android:name=".activities.SavedActivity"
            android:exported="true"/>
        <activity
            android:name=".activities.SearchActivity"
            android:exported="true"/>
        <activity
            android:name=".activities.SettingActivity"
            android:exported="true"/>
        <activity
            android:name=".activities.NotificationActivity"
            android:exported="true"/>

        <activity
            android:name=".admin.activities.AdminDashboardActivity"
            android:exported="true"/>
        <activity
            android:name=".admin.activities.ManageRecruiterActivity"
            android:exported="true"/>
        <activity
            android:name=".admin.activities.ManageJobsActivity"
            android:exported="true"/>
        <activity
            android:name=".activities.ProfileActivity" />
        <activity
            android:name=".activities.EditProfileActivity" />
        <activity
            android:name=".admin.activities.ApplicantListActivity"/>
        <activity
            android:name=".activities.EmployerActivity"/>

    </application>

</manifest>